* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.weather_and_city {
  padding-top: 2rem;
  min-width: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.weather_and_city h1 {
  display: flex;
  justify-content: center;
}
